@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto+Mono:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 2px solid black;
    height: 490px;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.388);
    box-shadow: 0px 0px 9px rgba(219, 161, 161, 0.514);

}

.screen {
    height: 20%;
    border-radius: 10px;
    margin-top: 3%;
    padding: 3px;
    border-bottom: 2px ridge rgba(245, 222, 179, 0.456);
}

.screen input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 45px;
    text-align: right;
    padding: 7px;
    background: transparent;
    color: white;
}

input::placeholder {
    color: white;
}

.buttons {
    background: transparent;
    height: 80%;
    margin-top: 1%;
}

.buttons div {
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

div button {
    height: 100%;
    width: 19%;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
    color: white;
    box-shadow: -3px -1px 9px rgb(255, 255, 255, 0.2);
    transition: .5s;
    border-radius: 50px;
    font-family: 'Roboto Mono', monospace;
}

.one-c {
    width: 35%;
    font-size: 28px;
}

div.last-r {
    display: flex;
    justify-content: left;

}

.last-c-1 {
    margin-right: 31%;
    width: 19%;
    margin-left: 6%;
    background-color: #fb7c14;
}

.last-c {
    width: 19%;
    margin-left: 3%;
}

.plus {
    height: 110px;
}

.operator {
    color: #6dee0a;
}

button:hover {
    transform: scale(.95);
    background-color: #3a445290;
    transition: .5s;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: #fb7c14;
    position: absolute;
    bottom: 0%;
}